<div class="divider bottom">
</div>

<div class="credits">

  <div class="entry">Editors:  <br><a href="http://www.sfchronicle.com/author/trapper-byrne/" target="_blank">Trapper Byrne</a>  &bull; <a href="mailto:tbyrne@sfchronicle.com">tbyrne@sfchronicle.com</a>
  <br><a href="http://www.sfchronicle.com/author/owen-thomas/" target="_blank">Owen Thomas</a>  &bull; <a href="mailto:othomas@sfchronicle.com">othomas@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/owenthomas" target="_blank">@owenthomas</a></div>

  <div class="entry">Developer:  <br><a href="http://www.sfchronicle.com/author/emma-oneill/" target="_blank">Emma O'Neill</a>  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

  <div class="entry">Producers: <br><a href="http://www.sfchronicle.com/author/kimberly-chua/" target="_blank">Kimberly Chua</a>  &bull; <a href="mailto:kchua@sfchronicle.com">kchua@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/kimberlyachua" target="_blank">@KimberlyAChua</a>
  <br><a href="http://www.sfchronicle.com/author/tim-o-rourke/" target="_blank">Timothy O'Rourke</a>  &bull; <a href="mailto:torourke@sfchronicle.com">torourke@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/timothyorourke" target="_blank">@timothyorourke</a></div>

  <div class="entry">Photo Editor: <br>Alex Washburn  &bull; <a href="mailto:awashburn@sfchronicle.com">awashburn@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/alextweeting" target="_blank">@alextweeting</a></div>

  <div class="entry">Illustrator:  <br>Todd Trumbull  &bull; <a href="mailto:ttrumbull@sfchronicle.com">ttrumbull@sfchronicle.com</a></div>

</div>

<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="./assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
