@red: #C91414;

// @inauguration:
// @protests:
// @trumpvoters:
// @women:
// @media_tag:
// @homeless:
// @federalaid:
// @trade:
// @environment:
// @election:
// @voterfraud:
// @caresist:
// @EO:
// @twitter:
// @wall:
// @immigration:
// @scotus:
// @democrats:
// @cabinet:
// @cybersecurity:
// @siliconvalley:
// @uber:
// @AG:
// @blacks:

body {
  font-family: @block-graphics;
  font-size: 16px;
}

.filter-instructions {
  text-align: center;
  padding-bottom: 5px;
}
.filter-container {
  text-align: center;
  .filter {
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid @red;
    border-radius: 5px;
    color: @red;
    // &:hover {
    //   color: white;
    //   background: @red;
    // }
    &.active {
      color: white;
      background: @red;
    }
  }
}


.logo-link {
  padding-top: 9px;
}

.hed {
  padding-top: 50px;
  font-size: 30px;
  color: @red;
  font-family: @med-graphics;
  @media @mobile {
    font-size: 25px;
  }
}

.chatter {
  max-width: 900px;
  padding: 0 30px;
}

.event-wrapper {
  text-align: center;
  .display-flex;
  .flex-wrap(wrap);
}

.day-hed {
  font-family: @med-graphics;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 25px;
}
.day-text {
  max-width: 900px;
  margin: auto;
  padding: 0 50px;
  padding-bottom: 20px;
}

.divider {
  width: 80%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
}

.credits {
  font-family: @block-graphics;
  font-size: 14px;
  .entry {
    padding: 0;
    padding-bottom: 15px;
  }
  @media @mobile {
    padding: 0 20px;
  }
}

.event-item {
  display: none;
  &.active {
    display: block;
  }
  font-family: @block-graphics;
  padding-bottom: 30px;
  font-size: 16px;
  .flex(0 0 33%);
  padding: 30px;
  .tag, .day, .tags, .readme {
    padding-bottom: 10px;
  }
  .event {
    font-family: @med-graphics;
    font-size: 20px;
  }
  .tag {
    padding: 3px 10px;
    background: @red;
    border-radius: 5px;
    color: white;
    margin: 2px;
    display: inline-block;
  }
  .readme {
    .fa-external-link {
      padding-right: 10px;
    }
    // font-style: italic;
    cursor: pointer;
  }
}
