<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="outer">

      <div class="hed desktop">
        <img src="./assets/graphics/Trump_era_banner.png"></img>
      </div>
      <div class="hed mobile">
        <img src="./assets/graphics/Trump_era_square.png"></img>
      </div>
      <div class="chatter">President Trump came into office promising to change Washington and “make America great again.” He has moved aggressively to bring about that change, delighting his supporters but deepening the divide between them and the rest of the country. Here are all the stories The Chronicle has reported on the new administration since Trump was sworn in on Jan. 20.</div>

      <div class="filter-instructions">Click on the buttons below to see links to stories about a particular topic or use the search box to look up other subjects:</div>
      <div class="filter-container">
        <% json.Topics.forEach(function(tt){ %>
          <div class="filter topic <%=tt.Topic.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>" id="<%=tt.Topic.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>"><%=tt.Topic%></div>
        <% }); %>
        <div class="filter topic showall active" id="showall">All</div>
      </div>

      <% json.Topics.forEach(function(ss){ %>
        <% var array = [ss.Subtopics].toString().split(','); %>
        <% if (array != "") { %>
          <div class="sub-filter-container" id="subfilter<%=ss.Topic.toString().toLowerCase().replace(',','').replace(/\s/g,'')%>">
            <div class="sub-filter-instructions">Related topics:</div>
              <div class="filter-container">
                <% array.forEach(function(t){ %>
                  <div class="filter subfilter <%=t.toString().toLowerCase().replace(/\s/g,'')%>" id="<%=t.toString().toLowerCase().replace(/\s/g,'')%>"><%=t%></div>
                  <% }); %>
              </div>
            </div>
          <% } %>
      <% }); %>

      <div class="search-container">
        <span class="search">Search by keywords  </span>
        <input class="input" id="searchbar" type="text" placeholder='Try "Immigration," "Supreme Court" or "SF" ...'>
      </div>

      <% json.Days.forEach(function(dd){ %>
        <div class="day-title active" id="day<%=dd.Day%>">
          <div class="day-hed">Day <%=dd.Day%></div>
          <div class="day-text"><%=dd.Summary%></div>
          <% if (dd.Photo) { %>
            <div class="day-img">
              <div class="inline-img">
                <img src="http://ww2.hdnux.com/photos/54/11/64/<%=dd.Photo%>/3/2000x1000.jpg"></img>
                <div class="caption"><%=dd.Caption%><span class="byline">  <%=dd.Credit%></span></div>
              </div>
            </div>
          <% } %>
        </div>
        <div class="event-wrapper <%=dd.Day%>">
          <% json.Events.forEach(function(d){ %>
            <% if (d.Day == dd.Day){ %>
            <div class="event-item active <%=[d.Topic].toString().toLowerCase().replace(',','').replace(/\s/g,'')%> <%=[d.Headline]%>">
              <div class="event"><%=d.Headline%><a href="<%=d.Link%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
              <div class="day">Day <%=d.Day%> ( <%=d.Date %> )</div>
              <% var array = [d.Topic].toString().split(','); %>
              <div class="tags">
                <% array.forEach(function(t){ %>
                  <div class="tag <%=t.toString().toLowerCase().replace(/\s/g,'')%>"><%=t%></div>
                <% }) %>
              </div>
          </div>
          <% } %>
        <% }); %>
      </div>
      <% }); %>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var eventsData = <%= JSON.stringify(json.Events) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
