<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="hed">President Trump's First 100 Days</div>
    <div class="chatter">This is a paragraph about how President Trump has had a very busy and drama-filled first 100 days in office. It is a collection of all of our very insightful, poignant, factual articles about everything that has transpired beginning with his inauguration.</div>

    <div class="filter-instructions">Click on the buttons below to see events that match a particular topic:</div>
    <div class="filter-container">
      <div class="filter" id="inauguration">Inauguration</div>
      <div class="filter" id="protests">Protests</div>
      <div class="filter" id="women">Women</div>
      <div class="filter" id="homeless">Homeless</div>
      <div class="filter" id="trade">Trade</div>
      <div class="filter" id="showall">All</div>
    </div>

    <% json.Days.forEach(function(dd){ %>
      <div class="day-title active" id="day<%=dd.Day%>">
        <div class="day-hed">Day <%=dd.Day%></div>
        <div class="day-text"><%=dd.Summary%></div>
        <div class="divider"></div>
      </div>
      <div class="event-wrapper">
        <% json.Events.forEach(function(d){ %>
          <% if (d.Day == dd.Day){ %>
          <div class="event-item active <%=[d.Topic].toString().toLowerCase().replace(',','')%>">
            <% console.log(d) %>
            <div class="event"><%=d.NewsEvent%></div>
            <div class="day">Day <%=d.Day%> ( <%=d.Date %> )</div>
            <% var array = [d.Topic].toString().split(','); %>
            <div class="tags">
              <% array.forEach(function(t){ %>
                <div class="tag"><%=t%></div>
              <% }) %>
            </div>
            <div class="readme"><a href="<%=d.link%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i><%=d.Headline%></a></div>
        </div>
        <% } %>
      <% }); %>
    </div>
    <% }); %>

    <%= t.include("partials/_footer.html") %>

    <script>
      var eventsData = <%= JSON.stringify(json.Events) %>
      console.log(eventsData);
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
